<h2>RGU Student Records Website</h2>
<p>
This website allows student details to be recorded.</p> 
<p>This included the students name, email adress, date of birth, their subject and their section of the school.
</p>

<p>I have used a MEAN stack to develop this website.</p>

<p>M - <a href="https://www.mongodb.com/">MongoDb</a></p>

<p>E - <a href="https://expressjs.com/">ExpressJs</a></p>

<p>A - <a href="https://angular.io/">Angular</a></p>

<p>N - <a href="https://nodejs.org/en/">NodeJs</a></p>
